* {
  font-family: 'Francois One', sans-serif;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px 10px 5px 10px;
  width: 70%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 1rem;
  border-radius: 10px;
}

.card:hover {
  position: relative;
  top: -14px;
  left: 6px;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

.card h2 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

.new-user-form {
  padding: 1rem 1rem;
  margin: 1rem 0;
  justify-content: center;
  background-color: rgba(182, 114, 104, 0.708);
  border: dashed 2px white;
}

.new-user-form input {
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  padding: 3px;
}

.new-user-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  background: none;
  font-size: 20px;
}

.button:hover {
  cursor: pointer;
}

.router-components {
  margin: auto;
}

.navbar {
  border: dashed 4px rgba(182, 114, 104, 0.708);
  padding: 5px;
}

.nav-list-item {
  display: inline-block;
  justify-content: center;
  padding: 5px;
  color: white;
  margin: auto;
}

.router-components {
  margin: 1rem;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px 10px 5px 10px;
  width: 70%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 1rem;
  border-radius: 10px;
}

.header, .name {
  font-family: 'Luckiest Guy', cursive;
}

.header {
  text-align: center;
  font-size: 55px;
  padding: 0;
  background-color: rgba(182, 114, 104, 0.708);
  color: white;
}

.submit {
  cursor: pointer;
}